
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 7% 15%;
}

h1 {
  font-weight: 900;
  line-height: 1.5;
}
.ofass {
   transform: rotate(30deg);
}
h2 {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

}
h3 {
  font-size: 1.5rem;
  line-height: 1.5;

}
.shat {
  color: #8f8f8f;
}
i {
  color: #ef8172;
}
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color:  #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
